extends layout

block layout-content
  div.View
    div.info
      div.Title
        div.image-container
          div.image-cropper
            img(src="images/hair-headshot.png")
        div.text
          h1 Jay Graber
          a.handle(href='https://twitter.com/arcalinea') @arcalinea
          div.about
            p Decentralized systems 
            p Cryptocurrencies
            p Social networks 
            p 
              a.link(href="https://www.happening.net") happening.net
      div.Contact
        div.container
          a(href='https://twitter.com/arcalinea')
            i.fa.fa-twitter(aria-hidden='true')
          a(href='https://github/arcalinea')
            i.fa.fa-github(aria-hidden='true') 
          a(href='https://jaygraber.medium.com/')
            i.fa.fa-medium(aria-hidden='true') 
          a(href='mailto:arcalinea@gmail.com')
            i.fa.fa-envelope(aria-hidden='true') 
    div.particle-network-animation
      //- p.invitation Click to add nodes

//- // Coolors for app: https://coolors.co/8d569f-574961-898698-0f0a0b-f8f8fa

        
